@font-face {
    font-family: 'HoengseongHanu';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hoengseoung/HoengseongHanu.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hoengseoung/HoengseongHanu.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hoengseoung/HoengseongHanu.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hoengseoung/HoengseongHanu.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/hoengseoung/HoengseongHanu.ttf') format("truetype");
    font-display: swap;
} 